  // START:: LATEST BLOG
  .blog-area {
    .sidebar{
      padding: 20px 30px;
      border-top: 5px solid $primary-color;
      border-left: 5px solid $primary-color;
      border-radius: 10px; 



    }

    .blog-inner-wrapper {  
      .single-post {   
        margin: 0 auto; 

    } 
    
    } 

  }
