.subscribe{
    padding: 50px 10px;
    background: #000;
    .subscribe-wrapper{
        padding: 50px 10px;
        background: $white;
        border-radius: 5px; 

    .subscribe-area-content{  
        .form-control {
            width: 350px;
            padding: 15px 25px;
            background: $gray-50;
            outline: 0;

            @include sm{ 
             width: 280px;
            }
        }
      
    }

    }
}